.wgs-widget-indicator-icon {
    color: #000;
    margin: 10px;
    width: 24px;
    height: 24px;
}

.wgs-widget-indicator {
    border-radius: 8px;
    border: 4px solid #357;
    background-color: rgba(255, 255, 255, .5);
}